@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-primary: #ec7137;
  --color-secondary: #fdc831;
  --color-neutre: #fdfdfd;
  --color-light-yellow: #efeed3;
  --color-dark-blue: #2d3b52;
  --color-gray: #595959;
  --color-green: oklch(0.527 0.154 150.069);
  --color-red: oklch(0.505 0.213 27.518);

}

html {
  background-color: var(--color-neutre);
  font-family: "Raleway";
  width: 100%;
  height: 100%;
}
